{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

        <!-- display all stocks in the rows passed from, which have been summed up beforehand -->
        <h1>Portfolio</h1>
        <hr>

        <table id="portfolio">
            <tr>
                <th>Stock symbol</th>
                <th>Shares</th>
                <th>Stock price</th>
                <th>Total Value</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.value }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{ total }}</strong></td>
            </tr>
        </table>

{% endblock %}
